/*----------- 
header part
-------------- */
.header-color{
    background-color: rgba(255, 144, 14, 0.1);;
}
.font-header{
    display: flex;
    justify-content:space-around;
} 
ol{
    display: flex;
    gap
}
  /*---------
   picture-above
  -------------- */
 
 
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 50px;
}
.picture-above{
 text-align: center;
} 
.picture-above h2{
    font-size: 30px;
}
.banner{
       
      height: 50%;
     width: 50%;
     margin-left: 450px;
     margin-top: 20px;
     margin-bottom: 10px; 
      
     
     
}

 
/*-------
 2nd Section-------------------- */
 .mango-tree{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* margin: 50px 200px 50px 200px;  */
     
 }
 .catting-img{
    
     /* height: 10%;
    width: 10%, 
    gap: 0px; */ 
 }  
 .first-div{
    display: flex;
    
 }
 .second-div{
    display: flex;
 } 
 
 
 .mango{
    text-align: center;
    margin-top: 30px;
 }
 .btn-second-key{
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 50px;

 }
   /*--------
    3rd Section
    ------------------- */
    .orange{
        display: flex;
        gap: 20px;
        border:  black;
        margin-bottom: 100px;
        border: 1px solid white;
        
    }
    .blogs{
        gap: 5px;
        width: 50%;
    }
    .blog{
        background-color:   lightyellow;
        margin-left: 270px;
    }
    .blog-head{
        font-size: 40px;
    }
    .third-photo{ 
        width: 450px;
        height: 600px;
         margin-bottom: 5px;
    }
    .third-key{
        background-color: #FF900E;
        border-radius: 8px;
        width: 180px;
        height: 100px;
        font-size: 20px;
         margin-right: 200px;

    }
    /*---------
     fourth Section
     ------------------- */
     .apple-tree{
        margin-left:100px; 
        margin-bottom: 75px;   
    
    }
     .apple{
        display: flex;
        justify-content: space-around;
        text-align: center;
     }
     .icon{
        border: 1px solid #FF900E;
        border-radius: 10px;
        padding: 30px;
     }

     /* ------
     fifth Section
     ---------------- */
     .Cherry-tree{
        text-align: center;
        margin: 100px 100px 100px 50px;

     }

     .Cherry{
        display: flex;
        justify-content: space-around;
        margin: 100px 150px 150px  150px ;
     }

     /* ------
     last section
      -------------------*/
      .lichi{
        background-color: rgba(255, 144, 14, 0.1);
        padding: 20px 50px;
        margin: 50px 100px 30px 100px;
        text-align: center;
        font-size: 20px;
      }
  .hide{
    display: none;
  }
  @media only  screen  and (max-width:576px) {
     .mango-tree, .first-div,.second-div,.apple,.Cherry,.orange,ol {
        flex-direction: column;
        gap:20px;
        padding: 10px 20px;
        }
        .Cherry,.banner{
         margin-left: 100px;
        }
        .apple-tree{
         margin-left: 0px;
        }
        .apple{
         margin-right: 80px;
         margin-left: 20px;
        }
        .blog{
         margin-left: 50px;
         width: 100%;
        }
        .header-color{
         margin-left: 20px;
         padding: 20px;
        }

    
  }