/*----------- 
header part
-------------- */
.header-color{
    background-color: rgba(255, 144, 14, 0.1);;
}
.font-header{
    display: flex;
    gap: 700px;
} 
ol{
    display: flex;
    gap
}
  /*---------
   picture-above
  -------------- */
.primary-key{
    margin: 20px 400px 10px 500px;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 50px;
}
.picture-above{
    margin: 120px 600px 25px 450px;
}
.banner{
       
    margin:50px 50px 20px 30px;
}
/*-------
 2nd Section-------------------- */
 .mango-tree{
    display: flex;
 }
 .catting-img{
     margin: 50px 170px;
     
   
 }  
 .first-div{
    display: flex;
    
 }
 .second-div{
    display: flex;
 }
 .mango{
    margin: 200px 20px 20px 10px;
 }
 .btn-second-key{
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 50px;

 }
   /*--------
    3rd Section
    ------------------- */
    .orange{
        display: flex;
        gap: 20px;
        border:  black;
    }
    .blogs{
        gap: 5px;
        width: 50%;
    }
    .blog{
        background-color:  skyblue;
        margin-left: 270px;
    }
    .blog-head{
        font-size: 40px;
    }
    .third-photo{ 
        width: 450px;
        height: 600px;
         margin-bottom: 5px;
    }
    .third-key{
        background-color: #FF900E;
        border-radius: 8px;
        width: 180px;
        height: 50px;

    }
    /*---------
     fourth Section
     ------------------- */
     .apple-tree{
        margin-right:  100px;     }
     .apple{
        display: flex;
        justify-content: space-around;
        text-align: center;
     }
     .icon{
        border: 1px solid #FF900E;
        border-radius: 10px;
        padding: 30px;
     }

     /* ------
     fifth Section
     ---------------- */
     .Cherry-tree{
        text-align: center;
        margin: 100px 100px 100px 50px;

     }

     .Cherry{
        display: flex;
        justify-content: space-around;
        margin: 100px 150px 150px  150px ;
     }

     /* ------
     last section
      -------------------*/
      .lichi{
        background-color: rgba(255, 144, 14, 0.1);
        padding: 20px 50px;
        margin: 50px 100px 30px 100px;
        text-align: center;
        font-size: 20px;
      }